<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask page</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- Bootstrap linkage -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="nav">
                {% if session["user_id"] %}
                    <a class="nav-link" href="/">Sākums</a>
                    <a class="nav-link" href="/greeting">Sveiciens</a>
                    <a class="nav-link" href="/students">Studenti</a>
                    <a class="nav-link" href="/books">Grāmatu plaukts</a>
                    <a class="nav-link" href="/logout">Iziet</a>
                {% else %}
                    <a class="nav-link" href="/register">Reģistrēties</a>
                {% endif %}
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {% block secondary_contents %}
                {% endblock %}
            </div>
            <div class="col-10">
                {% block contents %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>